<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.laizhong.hotel.mapper.CheckinInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.laizhong.hotel.model.CheckinInfo">		 
		<id column="trade_no" jdbcType="VARCHAR" property="tradeNo" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
		<result column="room_no" jdbcType="VARCHAR" property="roomNo" />	 
		<result column="room_price" jdbcType="DECIMAL" property="roomPrice" />
		<result column="deposit" jdbcType="INTEGER" property="deposit" />
		<result column="checkin_time" jdbcType="VARCHAR" property="checkinTime" />
		<result column="out_time" jdbcType="VARCHAR" property="outTime" />
		<result column="insure_date" jdbcType="TIMESTAMP" property="insureDate" />		
		<result column="is_buy_insure" jdbcType="INTEGER" property="isBuyInsure" />
		<result column="card_num" jdbcType="INTEGER" property="cardNum" />
		<result column="checkin_num" jdbcType="INTEGER" property="checkinNum" />
		<result column="room_type_code" jdbcType="VARCHAR" property="roomTypeCode" />
		<result column="room_type_title" jdbcType="VARCHAR" property="roomTypeTitle" />
		<result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
		<result column="is_check_out" jdbcType="INTEGER" property="isCheckOut" />
		<result column="checkin_type" jdbcType="VARCHAR" property="checkinType" />
		<result column="inter_order_no" jdbcType="VARCHAR" property="interOrderNo" />
	</resultMap>

	<!-- ############################### ############################### ############################### -->
	<sql id="Base_Column_List">
			<trim suffixOverrides=",">			
				`order_no`,
				`hotel_code`,
				`room_no`,
				`room_price`,
				`deposit`,
				`checkin_time`,		
				`out_time`,
				`card_num`,
				`is_buy_insure`,
				`insure_date`,
				room_type_code,
				room_type_title,
				checkin_num,
				`created_date`,	
				is_check_out,
				trade_no,	 	
			 checkin_type,
			 inter_order_no,
			</trim>
		</sql>
	 
	 <insert id="insert"
		parameterType="com.laizhong.hotel.model.CheckinInfo">
		insert into checkin_info (trade_no,order_no, hotel_code, room_no,
		room_price, deposit, checkin_time,out_time,
		card_num, is_buy_insure, insure_date,
		created_date,checkin_num,room_type_code,room_type_title,is_check_out,checkin_type,inter_order_no)
		values (#{tradeNo,jdbcType=VARCHAR},#{orderNo,jdbcType=VARCHAR}, #{hotelCode,jdbcType=VARCHAR},
		#{roomNo,jdbcType=VARCHAR},
		#{roomPrice,jdbcType=DECIMAL}, #{deposit,jdbcType=DECIMAL}, #{checkinTime,jdbcType=VARCHAR},
		#{outTime,jdbcType=VARCHAR},
		#{cardNum,jdbcType=INTEGER}, #{isBuyInsure,jdbcType=INTEGER},
		#{insureDate,jdbcType=TIMESTAMP},
		#{createdDate,jdbcType=TIMESTAMP},#{checkinNum,jdbcType=INTEGER},
		#{roomTypeCode,jdbcType=VARCHAR},#{roomTypeTitle,jdbcType=VARCHAR},#{isCheckOut,jdbcType=INTEGER}
		,#{checkinType,jdbcType=VARCHAR},#{interOrderNo,jdbcType=VARCHAR})
	</insert>
	 
	 <select id="getNowOrderInfoByTenant"
		 resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		checkin_info			
		 where order_no is not null and is_check_out=0 and hotel_code=#{hotelCode} and trade_no in(
			select trade_no from checkin_info_tenant where credno=#{credno} and credtype=#{credtype}
		 )
	</select>
	
	<select id="getOrderInfoByKey"
		 resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		checkin_info			
		 where  hotel_code=#{hotelCode} and order_no=#{orderNo}
	</select>
	<select id="getOrderInfoByTradeNo"
		 resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		checkin_info			
		 where  trade_no=#{tradeNo}
	</select>
	<update id="checkoutByKey" parameterType="String" >
		update checkin_info set is_check_out = 1 where hotel_code=#{hotelCode} and order_no=#{orderNo}
	</update>
 
	<update id="updateOrderNoById" parameterType="String" >
		update checkin_info set order_no = #{orderNo} where trade_no=#{tradeNo}
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.laizhong.hotel.model.CheckinInfo">	 
		update checkin_info
		<set>
			 		 
			<if test="roomNo != null">
				room_no = #{roomNo},
			</if>
			<if test="roomPrice != null">
				room_price = #{roomPrice},
			</if>
			<if test="deposit != null">
				deposit = #{deposit},
			</if>
			<if test="checkinTime != null">
				checkin_time = #{checkinTime},
			</if>
			<if test="outTime != null">
				out_time = #{outTime},
			</if>
			<if test="cardNum != null">
				card_num = #{cardNum},
			</if>
			<if test="isBuyInsure != null">
				is_buy_insure = #{isBuyInsure},
			</if>
			<if test="insureDate != null">
				insure_date = #{insureDate},
			</if>
			<if test="checkinNum != null">
				checkin_num = #{checkinNum},
			</if>
				<if test="roomTypeCode != null">
				room_type_code = #{roomTypeCode},
			</if>
			<if test="roomTypeTitle != null">
				room_type_title = #{roomTypeTitle},
			</if>
			<if test="createdDate != null">
				created_date = #{createdDate},
			</if>
			<if test="isCheckOut != null">
				is_check_out = #{isCheckOut},
			</if>
			<if test="checkinType != null">
				checkin_type = #{checkinType},
			</if>
		</set>
		<where>
			<trim  prefixOverrides="AND |OR "> 
			 	<if test="orderNo != null and orderNo !='' ">
	                and order_no=#{orderNo}
	            </if>
	            <if test="tradeNo != null and tradeNo !=''">
	                AND trade_no=#{tradeNo} 
	            </if>
	             <if test="hotelCode != null and hotelCode !=''">
	                AND hotel_code=#{hotelCode}
	            </if>
			</trim>
		</where>
	</update>
	
	
	
	<select id="getCheckinInfoList" resultType="java.util.List" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			checkin_info	 	
		 <where>
		<trim  prefixOverrides="AND |OR ">	
			  AND	order_no is not null  		 				
            <if test="order.orderNo != null and order.orderNo !='' ">
               AND  order_no=#{order.orderNo}  
            </if>
            <if test="order.roomNo != null and order.roomNo !=''">
                AND room_no=#{order.roomNo}  
            </if>
            <if test="order.roomTypeCode != null and order.roomTypeCode !=''">
               AND    room_type_code=#{order.roomTypeCode} 
            </if>
            <if test="order.checkinTime != null and order.checkinTime !=''">
                AND checkin_time &gt;= #{order.checkinTime}  
            </if>
            <if test="order.outTime != null and order.outTime !=''">
               AND  out_time &lt;= #{order.outTime}  
            </if>
            <if test="order.credno != null and order.credno !=''">
                AND order_no in (SELECT order_no FROM checkin_info_tenant WHERE credno = #{order.credno})  
            </if>
         </trim>
       </where>
       order by created_date desc
	</select>
	
</mapper>