<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.laizhong.hotel.mapper.CheckinInfoTenantMapper">
	<resultMap id="BaseResultMap"
		type="com.laizhong.hotel.model.TenantInfo">		 
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
		<result column="name" jdbcType="VARCHAR" property="name" />	 
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="credno" jdbcType="VARCHAR" property="credno" />		 		
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="credtype" jdbcType="INTEGER" property="credtype" />
		 
	</resultMap>

	<!-- ############################### ############################### ############################### -->
	<sql id="Base_Column_List">
			<trim suffixOverrides=",">
				`order_no`,
				`hotel_code`,
				`name`,
				`mobile`,
				`credno`,
				`sex`,		
				`credtype`,				 	 		 
			</trim>
		</sql>
	 
 
	
	 
	<insert id="batchInsert"
		parameterType="java.util.List">
		INSERT INTO `checkin_info_tenant`
		(
				`order_no`,
				`hotel_code`,
				`name`,
				`mobile`,
				`credno`,
				`sex`,		
				`credtype`
		)
		VALUES
		<foreach collection="list" index="index" item="item"
			separator=",">
			(
			#{item.orderNo},
			#{item.hotelCode},
			#{item.name},
			#{item.mobile},
			#{item.credno},
			#{item.sex},
			#{item.credtype}
			)
		</foreach>
	</insert>
	
	<select id="getTenantInfoByOrder"
		 resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		checkin_info_tenant 			
		 where order_no=#{orderNo} and hotel_code=#{hotelCode}
	</select>
	 
</mapper>