<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.laizhong.hotel.mapper.RoomInfoMapper">
	<resultMap id="BaseResultMap"
		type="com.laizhong.hotel.model.RoomInfo">
		 
		<id column="hotel_code" jdbcType="VARCHAR" property="hotelCode" />
		<id column="room_type_code" jdbcType="VARCHAR" property="roomTypeCode" />
		<result column="room_type_title" jdbcType="VARCHAR" property="roomTypeTitle" />	 		 
		<result column="bed_num" jdbcType="INTEGER" property="bedNum" />
		<result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
	</resultMap>

	<!-- ############################### ############################### ############################### -->
	<sql id="Base_Column_List">
			<trim suffixOverrides=",">
				`hotel_code`,
				`room_type_code`,
				`room_type_title`,
				`bed_num`,
				`created_date`,				 		 
			</trim>
		</sql>
	 
	<select id="getRoomInfoByModelSelective"
		 resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		room_info 
		
		<trim prefix="where" suffixOverrides="and | or">
			<if test="hotelCode!=null and hotelCode!='' ">
				hotel_code = #{hotelCode} and 
			</if>
			<if test="roomTypeCode!=null and roomTypeCode!='' ">
				room_type_code=#{roomTypeCode} and
			</if>		 
		</trim> 
	</select>
	 
</mapper>